/* FILTER */
.filter .conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.topmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
}
.filter_li {
  border-left: 1px solid #e5e5e5;
  width: 190px;
  height: 65px;
  text-align: left;
}
.filter_a {
  position: absolute;
  width: 110px;
  top: 25px;
  right: 80px;
  bottom: 20px;
  left: 20px;
}
.topmenu nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: 0.4s ease-in-out;
}
.topmenu {
  margin: auto auto;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.8);
}
.topmenu > li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-size: 16px;
  font-weight: bold;
}
.topmenu .filter_li:hover {
  cursor: pointer;
}
.topmenu .submenu {
  border: 1px solid #e5e5e5;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: 70px;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: 0.6s ease-in-out;
  text-align: left;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
li {
  list-style: none;
}
.submenu li a {
  margin-left: -20px;
  line-height: 30px;
  font-size: 13px;
}

/* NEW ARRIVALS */
.new_arivals {
  border-top: 1px solid #e5e5e5;
  margin: auto auto;
}

.new_arivals #conteiner_new_arrivals,
#conteiner_show_more {
  width: 1180px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.new_arivals .first_banner:before,
.second_banner:before {
  content: url(/img/New.png);
  position: absolute;
  top: 20px;
}
.new_arivals #conteiner_new_arrivals,
#conteiner_show_more {
  margin-top: 95px;
}
.banner {
  position: relative;
  word-wrap: break-word;
  width: 240px;
}
/* text midle */
.mid_text {
  margin-top: 60px;
  text-align: center;
}
.mid_text h1 {
  font-size: 24px;
  margin-bottom: -5px;
}
.mid_text p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
/* BUTTON */
input[type="button"] {
  margin-top: 30px;
  height: 73px;
  width: 340px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 24px;
  font-family: "Open Sans";
  font-weight: bold;
}
.button_conteiner {
  margin: 75px 420px 0 420px;
}
