.shoping_bag_section .conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#bag {
  /* margin: 34px 0 0 60px; */
  position: relative;
  width: 590px;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Roboto";
}
.bag__info h3 {
  font-size: 14px;
  font-weight: bold;
}
.bag__info .price {
  font-size: 17px;
  font-weight: bold;
}
.bag__info .color,
.size,
.quantity {
  line-height: 24px;
  font-size: 12px;
  font-weight: normal;
}
.bag__info a {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 13px;
  color: #f14a58;
}
