
/* BANNERS */
.section_banners {
  height: 385px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.banner_conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.section_banners .banner {
  position: relative;
}
.section_banners .banner .text {
  position: absolute;
  top: 65px;
  right: 100px;
  text-align: center;
}
.girl {
  border-left: 1px solid #e5e5e5;
}
.girl h2 {
  margin-bottom: -3px;
}
.text span {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #757575;
}
.nike .text {
  right: 100px;
}

/* BEST OFFER */
.best_offer {
  margin-top: 100px;
}
.title {
  text-align: center;
}
.title h1 {
  font-size: 50px;
  margin-bottom: -10px;
}
.best_offer .title p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.plus {
  font-size: 34px;
}
.best_offer .banner_conteiner {
  margin-top: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.banner_conteiner p {
  font-weight: normal;
}
.banner {
  position: relative;
}
.first_banner:before {
  content: url(/img/New.png);
  position: absolute;
  top: 20px;
}
.banner_conteiner .banner .arrow-up {
  position: absolute;
  top: -40px;
  left: 100px;
}
.banner_conteiner .banner .arrow-down {
  position: absolute;
  bottom: -40px;
  left: 100px;
}
.third_banner .total_price {
  margin-left: 15px;
}
.third_banner h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 32px;
}
.third_banner span {
  right: 55px;
  position: relative;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 26px;
  color: #757575;
}
.third_banner span:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  transform: rotate(-7deg);
}


/* NEW ARRIVALS */
.new_arivals {
  border-top: 1px solid #e5e5e5;
  margin: auto auto;
  margin-top: 200px;
}
.new_arivals .banner_conteiner {
  margin-top: 115px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.new_arivals .second_banner:before {
  content: url(/img/New.png);
  position: absolute;
  top: 20px;
}
.new_arivals .banner_conteiner {
  margin-top: 95px;
}
.new_arivals .button_conteiner {
  margin: 75px 420px 0 420px;
}
