@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1180px;
  margin: auto;
}

.header__conteiner1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__conteiner1 .h1 {
}
.header__conteiner1 .bag {
  width: 205px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bag a {
  font-family: "Roboto";
  font-size: 12px;
  color: #000000;
}
.header__conteiner2 .nav_a {
  color: #000000;
  font-size: 13px;
  margin-right: 60px;
}
.header__conteiner2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__search .input {
  height: 25px;
  width: 120px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  background: url(/img/ico.png) no-repeat scroll 12px 12px;
  background-position: right;
}
/* first section */
.section_banners {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banners {
  position: relative;
}
.banners .text {
  position: absolute;
  top: 65px;
  text-align: center;
}
.girl .text {
  right: 45px;
}
.girl h2{
    margin-bottom: -3px;
}
.text span {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: #757575;
}
.nike .text {
  right: 100px;
}
/* second section */
